{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Add Employee Salary</h2>
    <form method="post" class="mt-3">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.employee.label_tag }}
            {{ form.employee }}
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.base_salary.label_tag }}
                {{ form.base_salary }}
            </div>
            <div class="col-md-4">
                {{ form.bonus.label_tag }}
                {{ form.bonus }}
            </div>
            <div class="col-md-4">
                {{ form.deductions.label_tag }}
                {{ form.deductions }}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                {{ form.tax_rate.label_tag }}
                {{ form.tax_rate }}
            </div>
            <div class="col-md-4">
                {{ form.net_salary.label_tag }}
                {{ form.net_salary }}
            </div>
            <div class="col-md-2">
                {{ form.month.label_tag }}
                {{ form.month }}
            </div>
            <div class="col-md-2">
                {{ form.year.label_tag }}
                {{ form.year }}
            </div>
        </div>
        <button type="submit" class="btn btn-success mt-3">Save Salary</button>
    </form>
</div>
{% endblock %}
