


{% extends 'base.html' %}
{% load static %}
{% block title %} Homepage  {% endblock %}


{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
            <a href="{% url 'employee_list'%}">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Employees
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_employees }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-xl-4 col-md-6 mb-4">
            <a href="{% url 'leave_application_list'%}">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                   Leaves
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ employees_on_leave }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-plus fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
            <a href="{% url 'admin_salary_list'%}">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            {% if latest_payroll %}
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                     Payroll Amount 
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"> 
                                  
                                    Ksh {{ payroll_amount|floatformat:"0" }}


                                </div>
                            </div>
                            {% endif %}
                            <div class="col-auto">
                                <i class="fas fa-address-card fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
            <a href="{% url 'attendance_list'%}">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Today's Attendance
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ employees_present_today }}/{{ total_employees }} <br>  Percentage: {{ attendance_percentage }}%</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-book-medical fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        
        <div class="col-xl-4 col-md-6 mb-4">
            <a href="{% url 'admin_salary_list'%}">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            {% if latest_payroll %}
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Latest Payroll
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"> 
                                    {{ latest_payroll.get_month_name }} {{ latest_payroll.year }}<br>
                                    Ksh {{ payroll_amount|floatformat:"0" }}


                                </div>
                            </div>
                            {% else %}
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Latest Payroll
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"> 
                                    No payroll records found

                                </div>
                            </div>
                               
                            {% endif %}
                            <div class="col-auto">
                                <i class="fas fa-paper-plane fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
            <a href="{% url 'department_list'%}">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Departments
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_departments }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-passport fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- Content Row -->


    <!-- Content Row -->
</div>
<!-- End of Main Content -->

{% endblock %}
